{#
/**
* @file
* Default theme implementation for the guides_prev_next_block block.
*/
#}
<nav class="navigation-link-container">
  {% if previous_url %}<button type="button" onclick="location.href='{{ previous_url }}'" class="btn btn-carbon"><span class="fa fa-chevron-left"></span>Previous</button>{% endif %}
  {% if next_url %}<button type="button" onclick="location.href='{{ next_url }}'" class="btn btn-primary"><span class="fa fa-chevron-right"></span>Next</button>{% endif %}
</nav>
