{#
/**
* @file
* Default theme implementation for the guides_contents_block block.
*/
#}
{% if links %}
<nav class="cta">
  {% if format == 'ordered' %}
    <ol class="progress">
  {% elseif format == 'unordered' %}
    <ul class="progress">
  {% elseif format == 'dashes' %}
    <ul class="guide-dashes">
  {% else %}
    <ul class="progress">
  {% endif %}
    {% for link in links %}
      {% if format == 'dashes' %}
        {% if link.url.options.attributes.class == 'active' %}
          <li> {{ link.text }} </li>
        {% else %}
          <li> {{ link }} </li>
        {% endif %}
      {% else %}
        {% if link.url.options.attributes.class == 'active' %}
          <li><span aria-current="page" class="progress--step progress--active"></span> {{ link.text }} </li>
        {% else %}
          <li><span class="progress--step"></span> {{ link }} </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% if format == 'ordered' %}
    </ol>
  {% elseif format == 'unordered' %}
    </ul>
  {% elseif format == 'dashes' %}
    </ul>
  {% else %}
    </ul>
  {% endif %}
</nav>
{% endif %}
